@font-face {
  font-family: 'Aileron';
  src: local('Aileron'), url(./fonts/Aileron-Regular.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: 'Aileron';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #443F43;
  background-color: #F3F3F3;
}

code {
  font-family: 'Aileron';
}
